<div class="container">  
    <div class="row">
    <div class="col-12 col-md-8 col-lg-8">
        <table class="table table-bordered table-dark">
            <thead>
                <br>
                <br>
                <br>
              <h1>gym</h1>
                <tr>
                 <th scope="col">ID</th>
                 <th scope="col">nombre</th>
                 <th scope="col">apellido</th>
                 <th scope="col">telefono</th>
                 <th scope="col">feha ingreso</th>
                 <th scope="col">fecha termina</th>
                 <th scope="col">Botones</th>
                </tr>
                
            </thead>
            <tbody>
                {{#each gym}}
    <tr>
      <th scope="row">{{id_gym}}</th>
      <td>{{nombre}}</td>
      <td>{{apellido}}</td>
      <td>{{telefono}}</td>
      <td>{{fechain}}</td> 
      <td>{{fechate}}</td> 
      <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{id_gym}}">
                        eliminar
                        </button>
                          <div class="modal fade" id="exampleModal{{id_gym}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="color:red" class="modal-title" id="exampleModalLabel">eliminar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div style="color:blue;" class="modal-body">
                                    desea eliminar usuario {{nombre}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                    <a href="/gym/eliminar/{{id_gym}}" class="btn btn-danger">eliminar</a>
                                </div>
                                </div>
                            </div>
                        </div>
                      
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarusuario{{id_gym}}">
                        modificar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modificarusuario{{id_gym}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <form method="POST" action="/gym/modificar/{{id_gym}}">
                                    <div class="modal-header">
                                        <h5 style="color:red" class="modal-title" id="exampleModalLabel">modificar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div style="color:blue;" class="modal-body">
                                    

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">equipo</label>
                                                <input type="text" value="{{nombre}}" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">apellido</label>
                                                <input type="text" value="{{apellido}}" class="form-control" name="apellido" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="apellido">
                                            </div>
                                            
                                             <div class="form-group">
                                                <label for="exampleInputEmail1">telefono</label>
                                                <input type="text" value="{{telefono}}" class="form-control" name="telefono" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="telefono">
                                            </div>

                                             <div class="form-group">
                                                <label for="exampleInputEmail1">fecha ingreso</label>
                                                <input type="text" value="{{fechain}}" class="form-control" name="fechain" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fechain">
                                            </div>

                                            
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">fecha termina</label>
                                                <input type="text" value="{{fechate}}" class="form-control" name="fechate" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fechate">
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                        <button type="submit" class="btn btn-primary">modificar</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        </td>
                        </td>
           
                    </tr>
                {{/each}}
            </tbody>
        </table>
        
    </div>
    
    <div class="col-12 col-md- col-lg-4">
        <form method="POST" action="/gym/agregar">
            <h1>gym</h1>
            <div class="form-group">
                <label for="exampleInputEmail1">nombre</label>
                <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
            </div>

         <input type="hidden" class="form-control" name="id_gym" id="exampleInputEmail1" aria-describedby="emailHelp">
 
            <div class="form-group">
                <label for="exampleInputEmail1">apellido</label>
                <input type="text" class="form-control" name="apellido" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="apellido">
            </div>
            
             <div class="form-group">
                <label for="exampleInputEmail1">telefono</label>
                <input type="text" class="form-control" name="telefono" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="telefono">
            </div>
            
            
             <div class="form-group">
                <label for="exampleInputEmail1">fecha ingreso</label>
                <input type="text" class="form-control" name="fechain" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fecha ingreso">
            </div>
            
            
             <div class="form-group">
                <label for="exampleInputEmail1">fecha termina</label>
                <input type="text" class="form-control" name="fechate" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fecha termina">
            </div>
            
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
        
</div>
<br>
    </div>
    </form>
  </body>
</html>
