<div class="container">  
    <div class="row">
    <div class="col-12 col-md-8 col-lg-8">
        <table class="table table-bordered table-dark">
            <thead>
                <br>
                <br>
                <br>
              <h1>parqueadero</h1>
                <tr>
                 <th scope="col">ID</th>
                 <th scope="col">placa</th>
                 <th scope="col">color</th>
                 <th scope="col">feha ingreso</th>
                 <th scope="col">fecha salida</th>
                 <th scope="col">Botones</th>
                </tr>
                
            </thead>
            <tbody>
                {{#each parqueadero}}
    <tr>
      <th scope="row">{{id_parqueadero}}</th>
      <td>{{placa}}</td>
      <td>{{color}}</td>
      <td>{{fechain}}</td> 
      <td>{{fechasa}}</td> 
      <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{id_parqueadero}}">
                        eliminar
                        </button>
                          <div class="modal fade" id="exampleModal{{id_parqueadero}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="color:red" class="modal-title" id="exampleModalLabel">eliminar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div style="color:blue;" class="modal-body">
                                    desea eliminar al vehiculo de la placa {{placa}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                    <a href="/parqueadero/eliminar/{{id_parqueadero}}" class="btn btn-danger">eliminar</a>
                                </div>
                                </div>
                            </div>
                        </div>
                      
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarusuario{{id_parqueadero}}">
                        modificar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modificarusuario{{id_parqueadero}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <form method="POST" action="/parqueadero/modificar/{{id_parqueadero}}">
                                    <div class="modal-header">
                                        <h5 style="color:red" class="modal-title" id="exampleModalLabel">modificar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div style="color:blue;" class="modal-body">
                                    

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">placa</label>
                                                <input type="text" value="{{placa}}" class="form-control" name="placa" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="placa">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">color</label>
                                                <input type="text" value="{{color}}" class="form-control" name="color" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="color">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">fecha ingreso</label>
                                                <input type="text" value="{{fechain}}" class="form-control" name="fechain" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fecha ingreso">
                                            </div>

                                            
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">fecha salida</label>
                                                <input type="text" value="{{fechasa}}" class="form-control" name="fechasa" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fecha salida">
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                        <button type="submit" class="btn btn-primary">modificar</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        </td>
                        </td>
           
                    </tr>
                {{/each}}
            </tbody>
        </table>
        
    </div>
    
    <div class="col-12 col-md- col-lg-4">
        <form method="POST" action="/parqueadero/agregar">
            <h1>parqueadero</h1>
            <div class="form-group">
                <label for="exampleInputEmail1">placa</label>
                <input type="text" class="form-control" name="placa" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="placa">
            </div>

         <input type="hidden" class="form-control" name="id_parqueadero" id="exampleInputEmail1" aria-describedby="emailHelp">
 
            <div class="form-group">
                <label for="exampleInputEmail1">color</label>
                <input type="text" class="form-control" name="color" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="color">
            </div>
            
             <div class="form-group">
                <label for="exampleInputEmail1">fecha ingreso</label>
                <input type="text" class="form-control" name="fechain" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fecha ingreso">
            </div>
            
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
        
</div>
<br>
    </div>
    </form>
  </body>
</html>
